.podcard {
  display: flex;
  border-bottom: 1px solid rgba(232, 232, 2321);
  padding-bottom: 12px;
  margin: 20px 0;
  cursor: pointer;
}

.podcardimg {
  width: 79px;
  /*height: 50px;*/
  background-color: darkgray;
  margin-right: 11px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.podcarddetails {
  display: flex;
  flex-direction: column;
}

.podcardname h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.podcardauthor {
  color: darkgray;
  padding: 7px 0;
}

.podcardminidet {
  font-weight: 100;
}

.podcardminidet :nth-child(1) {
  padding-right: 14px;
}

.podcardminidet :nth-child(2) {
  padding-right: 3px;
}
